<div class="hero" >
 <div class="frosty text-center">
 <br />
 <br />
 <br />
  <h1>Learn Something New</h1>
  <h1>Improve Your Life</h1>
  <br />
  <br />
  <h2>Video lessons to improve your skills.</h2>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <%= link_to 'Learn More', courses_path, class: 'btn btn-danger' %>
  <br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Feature 1</h3>
  </div>

  <div class="col-sm-4">
    <h3>Feature 2</h3>
  </div>

  <div class="col-sm-4">
    <h3>Feature 3</h3>
  </div>
</div>